body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pagination-div ul li {
  display: inline;
}

.pagination-div {
  display: flex;
  justify-content: center;
}
.filter {
  display: flex;
}

.in_filter {
  width: 15%;
  height: 100vh;
  background-color: #31b8bf;
  color: white;
  text-align: left;
  padding-top: 25px;
}

@media all and (max-width: 768px) {
  .filter {
    display: block;
  }
  .in_filter {
    width: 100%;
    padding-top: 15px;
    height: 100%;
  }
}

.main-text {
  padding-top: 5%;
  padding-bottom: 55px;
}

.first-cards {
  margin-top: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn-first-session {
  margin-left: 70px;
  background-color: #31b8bf;
  padding: 3px 25px;
  border-radius: 100px;
  color: white;
  border: none;
}

.second-main-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.second-cards {
  display: flex;
  flex-direction: column;
}

.first-text {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.third-session {
  background-color: #f8f9fc;
}

.third-main-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.second-text {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.third-cards {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.fourth-session {
  background-color: white;
}

.fourth-main-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
}

.left-side {
  /* width: 40%; */
  /* margin-left: 150px; */
  padding-top: 50px;
  /* padding-bottom: 20px; */
}

.question-input {
  padding-bottom: 25px;
}

.form-control {
  border: 1px solid #31b8bf;
}

.common-questions {
  display: flex;
  /* justify-content: space-between; */
}

.right-side {
  padding-top: 50px;
}

.rigth-side-text {
  padding-top: 50px;
  padding-bottom: 48px;
}

.btn-right-side {
  border: none;
  background-color: #31b8bf;
  padding: 3px 75px;
  border-radius: 100px;
  color: white;
}

.fifth-session {
  width: 100%;
  height: 400px;
  background-color: #31b8bf;
}

.article {
  background-color: white;
}

@media all and (max-width: 992px) {
  .right-side {
    display: none;
  }
  .first_footer_inner {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .second_footer_inner {
    display: none;
  }
}

@media all and (max-width: 320px) {
  .third_footer_inner {
    display: none;
  }
  .third-session {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .third-session {
    display: none;
  }
}
